<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxzh.un.smart.campus.basicdata.service.mapper.TeacherMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zzw.learning.entity.Teacher">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="job_number" property="jobNumber" />
        <result column="name" property="name" />
        <result column="sex" property="sex" />
        <result column="avatar" property="avatar" />
        <result column="birthday" property="birthday" />
        <result column="nationality" property="nationality" />
        <result column="native_place" property="nativePlace" />
        <result column="political" property="political" />
        <result column="marriage_status" property="marriageStatus" />
        <result column="education" property="education" />
        <result column="graduate_school" property="graduateSchool" />
        <result column="major" property="major" />
        <result column="certificate_type" property="certificateType" />
        <result column="certificate_num" property="certificateNum" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="address" property="address" />
        <result column="dept_id" property="deptId" />
        <result column="job" property="job" />
        <result column="role_id" property="roleId" />
        <result column="title" property="title" />
        <result column="employee_type" property="employeeType" />
        <result column="join_job_time" property="joinJobTime" />
        <result column="join_campus_time" property="joinCampusTime" />
        <result column="job_status" property="jobStatus" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
    </resultMap>
</mapper>
