<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzw.learning.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zzw.learning.entity.User">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="age" property="age" />
        <result column="sex" property="sex" />
        <result column="real_name" property="realName" />
        <result column="icon" property="icon" />
        <result column="phone" property="phone" />
        <result column="remark" property="remark" />
        <result column="sign" property="sign" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
        <result column="app_code" property="appCode" />
        <result column="status" property="status" />
        <result column="is_admin" property="isAdmin" />
        <result column="email" property="email" />
    </resultMap>

</mapper>
